@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300&display=swap");

$color-primary: #ce1212;
$color-primary-dark: #810000;
$color-secondary: #7b113a;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$font-primary: "Luckiest Guy", cursive;
$font-secondary: "Nunito", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-secondary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}
